#wrapper {
    background-color: rgba(177, 177, 177, .5);
    display: flex;
    width: 50vw;
    height: 50vh;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    border: 3px solid black;
    padding: 1rem;
    background-color: rgb(255, 150, 150);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 4rem;
    user-select: none;
    border-radius: 12px;
    box-shadow: 10px 5px 5px black;
    transition: 0.3s;
}

.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}