[id="h22"]{
    background-color: #366cca;
    color: white;
    padding: 1rem;
    text-align: center;
}

[id="h11"]{
    background-color: #6b92d6;
    
    padding: 1rem;
    text-align: center;
}

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    header {
        background-color: #366cca;
        color: white;
        padding: 1rem;
        text-align: center;
    }
    main {
        padding: 20px;
        max-width: 800px;
        margin: 0 auto;
    }
    h1 {
        color: #f0e9e9;
    }
    .step {
        background: white;
        margin: 20px 0;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .step h2 {
        color: #000000;
    }
    [id="44"]{
        background-color: #366cca;
        color: rgb(55, 128, 225);
        padding: 1rem;
        text-align: center;

    }
h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 { display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;


}