/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    color: white;
}

a:visited {
    color: rgb(20, 19, 19);
}

a:hover {
    color: #6F86FF;
}

/* 
header {
    background-color: #366cca;
    color: white;
    padding: 1rem;
    text-align: center;
    display: none;

}

h1 {
    font-size: 80px;

    font-style: italic;

}

header p {
    font-size: 50px;
    font-style: italic;
} 

body {
    background-color: rgb(128, 175, 214);
    font-family: sans-serif;
}




/* off-screen-menu */
.off-screen-menu {
    background-color: rgb(224, 227, 235);
    text-decoration: none;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu.active {
    right: 0;
}



/* nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: rgb(234, 235, 243);
    justify-content: space-between;
}



/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;

    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: rgb(17, 16, 16);
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}