html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #5078f2;
    background-image: linear-gradient(315deg, #5078f2 0%, #e9f2f4 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

h1{
    color: rgb(88, 81, 81);
}

.stepRegister{
padding-top: 30px;
height: 100px;
width: 300px;
margin: 0 auto;  
background-color: Moccasin;
 text-align: center;
}

.stepNumber {
    color: #0E94D9;
    font-size: 50px;
    font-weight: 700;
}
 .stepTopic {
    font-size: 30px;
    font-weight: 700;
   
    color: rgb(88, 81, 81);
    border:solid;
    border-width:2px;
    border-radius: 5px;
    text-align: center;
    display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
    margin: 0 auto;
    display: inline;
    padding: 5px;
    
 }

 .stepText{
    color: rgb(255, 255, 255); }